<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MSSQL" connectionString="Data Source=186.151.244.251,42200 ;Initial Catalog=SAESoft; User ID=SAESoftAdmin; Password=2022!S@eguate; TrustServerCertificate=Yes" providerName="System.Data.SqlClient" />
		<add name="MSSQL_Test" connectionString="Data Source=localhost;Initial Catalog=SAESoft; User ID=SAESoftAdmin; Password=2022!S@eguate; TrustServerCertificate=Yes" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

